@use "../base/variables" as vars;
@use "../base/mixins" as mixins;

.header {
    &__wrapper {
        max-width: 1696px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 16px;
    }

    &__actions {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            width: 2px;
            height: 24px;
            background-color: vars.$color-separator;
            margin-inline: 16px
        }

        .button + .button {
            margin-left: 16px;
        }

        &-search {
            order: -1;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 16px;

    &[href] {
        &:hover {
            opacity: .7; 
        }
        &:focus,
        &:active {
            outline: 4px solid vars.$color-focus;
        }
    }

    img + img {
        margin-left: 18px;
    }
}