.main-container {
    padding-bottom: 40px;
}

.section-wrapper {
    max-width: 1632px;
    margin: 0 auto;
    padding: 64px 16px;
}

.page-layout {
    padding: 0 16px 24px;
    display: flex;
    max-width: 1416px;
    margin: 0 auto;
}

.contact-layout {
  max-width: 1048px;
  margin: 0 auto;
  padding: 64px 16px;
}