@use "../base/base";

.button {
    display: inline-block;
    color: base.$color-secondary;
    font-weight: #{var(--font-weight-bold)};
    padding: base.$button-padding;
    border: 2px solid transparent;
    cursor: pointer;

    &:focus {
        outline-offset: 0;
    }

    &--primary {
        @include base.border-style(base.$color-accent);
        background-color: base.$color-accent;
    
        &:hover {
            background-color: base.$color-focus;
            border-color: base.$color-focus;
        }
    
        &:focus {
            border-color: base.$color-focus;
            outline: 2px solid base.$color-focus;
        }
    
        &:active {
            background-color: base.$color-active;
            border-color: base.$color-active;
        }
    }

    &--secondary {
        @include base.border-style(base.$color-separator);
        background-color: transparent;
        
        &:hover,
        &:active {
            background-color: base.$color-secondary-hover;
            border-color: base.$color-secondary-hover;
        }
        
        &:focus {
            background-color: base.$color-secondary-hover;
            border-color: base.$color-focus;
            outline: 2px solid base.$color-focus;
        }
    }

    &--small {
        @include base.button-text-small;
        padding: base.$button-padding-small;
    }

    &--only-icon {
        padding: 12px;
    }
}
