@use "../base/base" as *;

.button {
    @include text-base;
    display: inline-block;
    color: var(--color-secondary);
    font-weight: var(--font-weight-bold);
    padding: var(--button-padding);
    border: 2px solid transparent;
    cursor: pointer;

    &:focus {
        outline-offset: 0;
    }

    &--primary {
        background-color: var(--color-accent);
        border-color: var(--color-accent);
    
        &:hover {
            background-color: var(--color-focus);
            border-color: var(--color-focus);
        }
    
        &:focus {
            border-color: var(--color-focus);
            outline: 2px solid var(--color-focus);
        }
    
        &:active {
            background-color: var(--color-active);
            border-color: var(--color-active);
        }
    }

    &--secondary {
        background-color: transparent;
        border-color: var(--color-separator);
        
        &:hover,
        &:active {
            background-color: var(--color-secondary-hover);
            border-color: var(--color-secondary-hover);
        }
        
        &:focus {
            background-color: var(--color-secondary-hover);
            border-color: var(--color-focus);
            outline: 2px solid var(--color-focus);
        }
    }

    &--tertiary {
      color: var(--background-color);
      background-color: var(--color-button-bg-white);
      border-color: var(--color-button-bg-white);
      
      &:hover {
          background-color: var(--color-button-bh-white-hover);
          border-color: var(--color-button-bh-white-hover);
      }

      &:active {
          background-color: var(--color-text-disabled);
          border-color: var(--color-text-disabled);
          color: var(--color-secondary);
      }
      
      &:focus {
          border-color: var(--color-focus);
          outline: 2px solid var(--color-focus);
      }
    }

    &--action-tag-clear {
      @include text-sm($fw: var(--font-weight-bold));
      padding: 6px 12px;
    }

    &--small {
        @include text-sm(var(--font-weight-bold));
        padding: var(--button-padding-small);
    }

    &--only-icon {
        padding: 12px;
    }

    &--icon-left {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .header & {
        padding: 12px;

        @include laptop {
          padding: var(--button-padding);
        }
      }
    }

    .header &--connect {
      @include tab {
        padding: var(--button-padding);
      }
    }

    &--full {
      width: 100%;
    }

    &--hover {
      width: 100%;
      max-width: 240px;
      text-align: center;
    }
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button-layout {
    display: flex;
    gap: 16px;
}

.section-title--left {
    & + .button {
        margin-bottom: 32px;
    }
}
