@use "../base/base" as *;

.footer {
    @include card-background(var(--background-color-secondary));
    @include text-sm;
    color: var(--color-secondary);

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:last-child {
            padding-block: 32px;
        }
    
        & > .footer__col:last-child {
            display: flex;
            margin-left: 16px;
        }
    }

    .logo {
        margin-bottom: 12px;
    }

    &__text {
        margin: 0;
    }

    .copyright {
        margin-block: 0;
    }
}