@use "../base/base" as *;

.footer-nav {
    @include text-xs;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__title {
        @include text-lg;
        display: block;
        padding-left: 8px;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__item {
        padding: 4px 8px;
    }
    
    &__link {
        color: var(--color-secondary);

        :hover {
            color: var(--color-focus);
        }

        &:active {
            color: var(--color-active);
            border: none;
        }

        &:focus {
            outline: 4px solid var(--color-focus);
            border-radius: 5px;
        }
    }
}