@use "../base/base" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--background-color);
    padding-block: 32px;
    
    &__wrapper {
        max-width: 1728px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 32px;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: 16px;

        &::before {
            content: "";
            width: 2px;
            height: 24px;
            background-color: var(--color-separator);
        }

        &-search {
            order: -1;
        }
    }
}