@use "../base/base" as *;

.nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-color);

    margin-right: 16px; /* Just to not stick to each other */

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px; //mobile only
        margin: 0;
    }

    &__link {
        @include text-md($fw: var(--font-weight-bold));
        color: var(--color-secondary);
        padding: var(--button-padding-small);
        display: inline-block;
        border-bottom: 2px solid transparent;
        
        &:hover {
        color: var(--color-focus);
        }
        
        &:active {
        color: var(--color-active);
        }
        
        &:focus {
        outline: 4px solid var(--color-focus);
        border-radius: 5px;
        }
        
        &--active {
        border-color: var(--color-accent);
        }
    }

    .header__toggle:checked ~ & {
    display: block;
  }
}