@use "../base/base" as *;

.product {
    @include card-background;
    padding: 24px;
    border-image-slice: 50;
    border-image-width: 50px;
    outline-color: transparent;
    transition: outline 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 328px;

    @include tab {
      min-width: 303px; 
    }

    @include laptop {
      min-width: 270px;
    }

    @include desk {
      min-width: 301px;
    }

    &:hover {
        border-image-source: url("../img/hover-1x.webp");
    }

    &:active,
    &:focus {
        border-image: none;
        outline: 4px solid var(--color-focus);
    }

    &__img {
        margin-bottom: 24px;
        object-fit: cover;
        width: 100%;
    }

    &__price {
        @include heading-subtitle;
        color: var(--color-secondary);
        margin: 0 0 8px;

        @include tab {
          @include heading-title;
        }
    }

    &__name {
        @include text-lg;
        color: var(--color-muted);
        margin-block: 0;
    }
}