@use "../base/base" as *;

.action-tag {
    list-style: none;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    align-items: center;

    &__link {
        @include text-sm($fw: var(--font-weight-bold));
        background-color: transparent;
        color: var(--color-secondary);
        border: 2px solid var(--color-separator);
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        gap: 8px;
        padding: var(--item-padding);
        cursor: pointer;

        &:hover,
        &:active {
            background-color: var(--color-secondary-hover);
            border-color: var(--color-secondary-hover);
        }
    
        &:focus {
            background-color: var(--color-secondary-hover);
            border-color: var(--color-focus);
            outline: 2px solid var(--color-focus);
        }

        .article__footer & {
          padding: 8px;
        }
    }
}