{% extends "layouts/base.njk" %}

{% block content %}
<main class="main-container">
      {% include "partials/promo.njk" %}
      {% include "partials/catalog-section.njk" %}
      {% include "partials/blog.njk" %}
      {% include "partials/about.njk" %}
      {% include "partials/team.njk" %}
      {% include "partials/faq.njk" %}
    </main>
{% endblock %}
