{% extends "layouts/base.njk" %}

{% block content %}
<main class="main-container">
      {% include "partials/promo.njk" %}
      {% include "partials/catalog.njk" %}
      {% include "partials/blog.njk" %}
    </main>
{% endblock %}
