body {
    color: #F8F7FF;
    font-size: 18px;
    line-height: 28px;
    font-family: "Poppins", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #0D0D15;
}

h1 {
    color: #f5f8fb;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
    margin-top: 0;
}

.header {
  padding: 32px 16px;
}

.header__wrapper {
  max-width: 1696px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img + img {
  margin-left: 18px;
}

.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 264px;
}

.nav__link {
  color: #f5f8fb;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.nav__link:hover,
.article__highlight:hover {
  color: #3892F3;
  cursor: pointer;
}

.nav__link:active,
.article__highlight:active {
  color: #0054B6;
  cursor: pointer;
  border: none;
}

.nav__link:focus,
.article__highlight:focus {
  outline: 4px solid #3892F3;
  cursor: pointer;
}

.nav__link--active {
  border-bottom: 2px solid #0265DC;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__actions a:last-child {
  margin-left: 16px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search::after {
  content: "";
  display: block;
  width: 2px;
  height: 24px;
  background-color: #D0D7FB2B;
  margin: 0 16px;
}

.search__input {
  color: #e7eef7a8;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #D0D7FB2B;
  background-color: transparent;
  padding: 8px 12px;
}

.search__input:hover {
  outline: 2px solid #3892F3;
}

.search__input:focus {
  outline: 3px solid #3892F3;
}

.search__input:invalid {
  outline: 2px solid #EA3829;
}


.button {
  color: #f5f8fb;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 24px;
  display: inline-block;
}

.button--primary {
  border: 2px solid #0265DC;
  background-color: #0265DC;
}

.button--primary:hover {
  background-color: #3892F3;
  border: 2px solid #3892F3;
}

.button--primary:focus {
  outline: 4px solid #3892F3;
}

.button--primary:active {
  background-color:  #0054B6;
  border: 2px solid #0054B6;
}

.button--secondary {
  border: 2px solid #D0D7FB2B;
  background-color: transparent;
}

.button--secondary:hover,
.button--secondary:active {
  background-color: #BFC5EE1F;
  border: 2px solid #BFC5EE1F;
}

.button--secondary:focus {
  background-color: #BFC5EE1F;
  outline: 4px solid #3892F3;
}

.promo,
.catalog,
.blog,
.about-us,
.team,
.faq {
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.promo__highlight {
  color: #0265DC;
}

.promo__title {
  margin-bottom: 8px;
}

.promo__desc {
  color: #F5F8FB;
  font-weight: 500;
  font-size: 20px;
  margin-block: 0;
}

.promo__stats {
  display: flex;
  margin-block: 32px;
}

.promo__stat-item {
  margin: 32px 64px 32px 0;
}

.promo__stat-value {
  color: #f5f8fb;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.5px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  margin: 4px;
}

.promo__stat-term {
  color: #EFF5FAD1;
  font-size: 16px;
  line-height: 24px;
  margin-block: 0;
}

.button-layout a:last-child {
  margin-left: 16px;
}

.catalog__wrapper,
.blog__wrapper,
.about-us__wrapper,
.team__wrapper,
.faq__wrapper,
.footer__wrapper {
  max-width: 1632px;
  margin: 0 auto;
  width: 100%;
}

.catalog__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  display: flex;
}

.catalog__title::after {
  content: "";
  display: flex;
  width: 1167px;
  height: 2px;
  background-color: #D0D7FB2B;
  margin: 23px 32px;
}

.catalog__controls {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.catalog__controls > .button:not(:first-child) {
  margin-left: 16px;
}

.catalog__controls a:first-child {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.catalog__controls a:first-child::after {
  content: "";
  display: flex;
  justify-content: center;
  width: 2px;
  height: 24px;
  background-color: #D0D7FB2B;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.button--only-icon {
  padding: 12px; /* Will add it as an icon later */
}

.catalog__list {
  display: flex;
  justify-content: center;
}

.product {
  text-decoration: none;
  margin-inline: 12px;
}

.product:first-child {
  margin-left: 0;
}

.product:last-child {
  margin-right: 0;
}

/* If the amount of cards is always odd, can be this way
.product:nth-child(even) {
  margin-inline: 24px;
} */

.product__card {
  background-color: #1D1C28;
  padding: 24px;
  margin-top: 40px;
}

.label {
  color: #0265DC;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  background-color: #F5F8FB;
  padding: 8px 10px;
}

.label--updated {
  color: #f5f8fb;
  background-color: #EA3829;
}

.product__price {
  color: #f5f8fb;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  margin-bottom: 8px;
  margin-top: 24px;
}

.product__name {
  color: #EFF5FAD1;
  font-weight: 500;
  font-size: 20px;
  margin-block: 0;
}

.section-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
}

.blog__list {
  margin-block: 40px;
}

.post {
  background-color: #1D1C28;
  padding: 24px;
}

/* Will be changed to gap 16px after we learn grid */
.post:nth-child(even) {
  margin-block: 32px;
}

.post:last-child {
  margin-bottom: 0;
}

.post__link {
  text-decoration: none;
}

.post__img {
  padding: 16px;
  margin-bottom: 24px;
}

/* If it will be the icon from the font and not an image, will have to put it for info__profile and info__date separatelly */
.info {
  color: #EFF5FAD1;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.info > * {
  margin-right: 8px;
}

.info > *:last-child {
  margin-right: 0;
}

.info__profile {
  display: flex;
  align-items: center;
}

.info__profile::after {
  content: "";
  display: block;
  justify-content: center;
  width: 2px;
  height: 16px;
  background-color: #D0D7FB2B;
  margin-left: 8px;
}

.post__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  margin-top: 16px;
  margin-bottom: 0;
}

.post__desc {
  color: #EFF5FAD1;
  font-size: 16px;
  line-height: 24px;
  margin-block: 0;
}

.button-holder {
  margin-top: 16px; /* For some reason, the distance doesn't count from the border, but from line height */
}

.button--small {
  font-size: 16px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.about-us__desc {
  color: #EFF5FAD1;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.about-us__list {
  margin-block: 40px;
  display: flex;
  padding: 0;
}

.about-us__item {
  background-color: #1A1925;
  padding: 32px;
}

.about-us__item:not(:last-of-type) {
  margin-right: 32px;
}

.about-us__link {
  text-decoration: none;
}

.about-us__heading {
  color: #F5F8FB;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

.about-us__info {
  color: #EFF5FAD1;
  margin-top: 24px;
  margin-bottom: 0;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  background-color: #1D1C28;
  text-align: center;
  padding: 32px;
  margin-inline: 20px;
  margin-top: 40px;
}

.member:first-child {
  margin-left: 0;
}

.member:last-child {
  margin-right: 0;
}

.member__photo {
  border-radius: 50%;
}

.member__name {
  color: #F5F8FB;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  margin-top: 16px;
  margin-bottom: 0;
}

.member__position {
  color: #EFF5FAD1;
  margin-bottom: 16px;
  margin-top: 0;
}

.social__link {
  text-decoration: none;
}

.social {
  list-style: none;
  display: flex;
  padding: 0;
  margin-block: 0;
}

.social__item {
  margin-inline: 4px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__item:last-child {
  margin-right: 0;
}

.faq {
  padding-bottom: 104px;
}

.faq__container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.faq__item {
  background-color: #1D1C28;
  padding: 24px;
  margin-bottom: 24px;
}

.faq__question {
  color: #F5F8FB;
  font-size: 24px;
  line-height: 32px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
}

.faq__answer {
  color: #F5F8FB;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 8px;
}

.footer {
  background-color: #1A1925;
  color: #F5F8FB;
  font-size: 14px;
  line-height: 20px;
  padding-block: 64px 32px;
  padding-inline: 16px;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__wrapper > .footer__col:last-child {
  flex-direction: row;
}

.footer__text {
  margin: 12px 0 0;
}

.footer-nav__title {
  color: #F5F8FB;
  font-weight: 500;
  font-size: 20px;
  padding-left: 8px;
}

.footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav__link {
  text-decoration: none;
  color: #F5F8FB;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.footer-nav__link:hover {
  color: #3892F3;
  cursor: pointer;
}
.footer-nav__link:active {
  color: #0054B6;
  cursor: pointer;
  border: none;
}
.footer-nav__link:focus {
  outline: 4px solid #3892F3;
  cursor: pointer;
}

.footer-nav__item {
  margin-top: 8px;
  padding: 4px 8px;
}

.footer-nav:last-child {
  margin-left: 24px;
}

.footer__wrapper:first-child {
  margin-bottom: 64px;
}

.copyright {
  margin-block: 0;
}

/* Blog page styling */
.hero {
  padding-top: 64px;
  min-height: 376px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero__wrapper {
  padding: 0 64px;
  max-width: 1728px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 20px;
  text-align: center;
}

.breadcrumb__list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.breadcrumb__item {
  color: #E7EEF7A8;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  position: relative;
}

.breadcrumb__item:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 24px;
  background-color: #D0D7FB2B;
  margin-left: 8px;
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumb__link {
  color: #F5F8FB;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.page-layout {
  padding: 0 16px 64px 16px;
  display: flex;
  justify-content: center;
  max-width: 1416px;
  margin: 0 auto;
}

.aside__box {
  background-color: #1D1C28;
  padding: 24px;
  margin-bottom: 21px;
  width: 328px;
}

.aside__title {
  color: #F5F8FB;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  padding-bottom: 16px;
  border-bottom: 1px solid #BFC5EE1F;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.aside__list {
  list-style: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 0;
}

.aside__item {
  padding: 6px 12px;
}

.aside__item:not(:last-child) {
  margin-bottom: 8px;
}

.aside__link {
  color: #F5F8FB;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.action-tag {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 16px;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.action-tag__link {
  color: #F5F8FB;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #D0D7FB2B;
  padding: 6px 12px;
  display: inline-block;
}

.action-tag__item:not(:last-child) {
  margin-right: 8px;
}

.article {
  margin-left: 32px;
}

.figure {
  margin: 0;
}

.figure__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.section-title--left {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 16px;
}

.section-title--left + .button {
  margin-bottom: 32px;
}

.article__text {
  margin: 0;
}

.info + .article__text {
  margin-top: 32px;
  margin-bottom: 0;
}

.article__spotlight {
  background-color: #0265DC;
}

.article__highlight {
  color: #78BBFA;
  text-decoration: none;
  font-weight: 600;
}

.article__list {
  margin-block: 32px;
}

.quote-wrapper{
  background-color: #002754;
  padding: 16px;
  border-radius: 16px;
  margin-block: 32px;
}

blockquote {
  padding: 0;
  margin: 0;
}

.quote__text {
  font-size: 28px;
  line-height: 36px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  margin-top: 0;
  margin-bottom: 8px;
}

.quote__footer {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.quote__rating {
  color: #EFF5FAD1;
  margin-inline: 8px;
}

.quote__author {
  font-style: normal;
}

.figure-wrapper {
  display: flex;
}

.figure:last-child {
  margin-left: 24px;
}

.article__subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  font-family: "Bakbak One", Georgia, "Times New Roman", Times, serif;
  margin-top: 32px;
  margin-bottom: 16px;
}

.article__subtitle + .article__text {
  margin-bottom: 16px;
}

.article__footer {
  display: flex;
  justify-content: space-between;
}

.article__footer .action-tag__item:not(:last-child) {
  margin-right: 12px;
}