@use "../base/base" as *;
@use "../components/blog/figure" as *;
@use "../components/blog/quote" as *;

.article {
    flex: 1 1 auto;

    @include laptop {
      max-width: calc(100% - 320px - 32px);
      min-width: 0; // prevents overflow when content gets wide
    }

    .info {
        margin-bottom: 32px;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 16px;

        + .article__text {
            margin-bottom: 32px;
        }
    }

    &__text:last-of-type {
        margin-bottom: 32px;
    }

    .info + &__text {
        margin: 0;
    }

    &__spotlight {
        background-color: var(--color-accent);
    }

    &__list,
    &__custom-list {
        margin-top: 0;
        margin-bottom: 32px;
    }

    &__list {
        padding-left: 32px;
    }

    &__custom-list {
        display: flex;
        flex-direction: column;
        gap: 8px
    }

    &__subtitle {
        @include heading-subtitle;
        margin: 0 0 16px;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include tab {
          flex-direction: row;
          justify-content: space-between;
        }

        &--tags {
          gap: 12px;
        }

        .action-tag:not(:last-child) {
            margin-right: 16px;
        }
    }
}