@use "../base/base" as *;

.figure {
    margin: 0 0 32px;
    position: relative;

    &__img {
      width: 100%;
      height: auto;
      display: block;
    }
    
    &__caption {
        @include text-md($fw: var(--font-weight-medium));
        position: absolute;
        left: 24px;
        bottom: 12px;
        max-width: 100%;
    }
}

.figure-wrapper {
    display: flex;
    gap: 24px;

    .figure {
        width: 50%;
    }
}