@use "../base/base" as *;

.figure {
    margin: 0 0 32px;
    position: relative;

    &__img {
      width: 100%;
      height: auto;
      display: block;
    }
    
    &__caption {
        @include text-md($fw: var(--font-weight-medium));
        position: absolute;
        left: 24px;
        bottom: 12px;
        max-width: 100%;
    }
}

.figure-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 32px;

    @include tab {
        gap: 24px;
    }

    @include laptop {
        flex-direction: row;

        .figure {
            width: 50%;
        }
    }

    .figure {
        width: 100%;
        margin-bottom: 0;
    }
}