@use "../base/base" as *;

.quote-wrapper {
    background-color: rgb(0 39 84 / 1);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    blockquote {
        margin: 0;
    }
    
    .quote {
        &__text {
            @include heading-subtitle;
            margin-block: 0;
        }

        &__footer {
            @include text-sm($fw: var(--font-weight-bold));
            display: flex;
            gap: 8px;
        }

        &__rating {
            color: var(--color-muted);
        }

        &__author {
            font-style: normal;
        }
    }
}