<li class="about-us__item">
              <a class="about-us__link" href="item.link">
                <h3 class="about-us__heading">{{ item.heading }}</h3>
                <p class="about-us__info">{{ item.info }}</p>
              </a>
            </li>