<li class="about-card">
              <a class="about-card__link" href="item.link">
                <h3 class="about-card__heading">{{ item.heading }}</h3>
                <p class="about-card__info">{{ item.info }}</p>
              </a>
            </li>