<section class="article">
          {% set image = article.mainImage %}
          {% include "partials/figure.njk" %}

          <h2 class="section-title section-title--left">{{ article.title }}</h2>
          {% set button = article.button %}
          {% include "partials/button.njk" %}

          {% set info = article.info %}
          {% include "partials/info.njk"%}

          {% for paragraph in article.paragraphs %}
          <p class="article__text">{{ paragraph | safe }}</p>
          {% endfor %}

          <ul class="article__list">
          {% for item in article.listItems%}
            <li class="article__item">{{ item | safe }}</li>
          {% endfor %}
          </ul>
          
          <ul class="article__custom-list">
            {% for name in article.customList %}
            <li class="article__custom-item">{{ name }}</li>
            {% endfor %}
          </ul>

          {% include "partials/quote.njk" %}

          <div class="figure-wrapper">
            {% for images in article.images %}
            {% set image = images %}
              {% include "partials/figure.njk" %}
            {% endfor %}
          </div>

          {% for section in article.subsections %}
          <h3 class="article__subtitle">{{ section.subtitle }}</h3>
          {% for paragraph in section.paragraphs %}
          <p class="article__text">{{ paragraph }}</p>
          {% endfor %}
          {% endfor %}

          <footer class="article__footer">
            <ul class="action-tag article__footer--tags">
              <li class="action-tag__item">
                <span class="article__footer-label">{{ article.footerLabels.tags }}</span>
              </li>
              {% set tags = article.tags %}
              {% include "partials/tag-list.njk" %}
            </ul>

            <ul class="action-tag">
              <li class="action-tag__item">
                <span class="article__footer-label">{{ article.footerLabels.share }}</span>
              </li>
              {% for social in article.share %}
              <li class="action-tag__item">
                <a class="action-tag__link" href="{{ social.url }}">
                  <img
                    class="action-tag__img"
                    src="{{ social.icon }}"
                    alt="{{ social.alt }}"
                    width="{{ social.width }}"
                    height="{{ social.height }}"
                  />
                </a>
              </li>
              {% endfor %}
            </ul>
          </footer>
        </section>