<section class="blog section-wrapper">
          <h2 class="section-title">{{ blog.title }}</h2>
          <div class="blog__list">
          {% for post in blog.posts %}
            {% include "partials/post.njk" %}
          {% endfor %}  
          </div>
          <!-- Read more button after all the blocks -->
          <div class="button-wrapper">
            {% set button = blog.sectionButton %}
            {% include "partials/button.njk" %}
          </div>
      </section>