{% set classes = "button" %}
{% if button.modFirst %}{% set classes = classes + " button--" + button.modFirst %}{% endif %}
{% if button.modSecond %}{% set classes = classes + " button--" + button.modSecond %}{% endif %}
{% if button.modThird %}{% set classes = classes + " button--" + button.modThird %}{% endif %}

{% if button.url %}
    <a
      href="{{ button.url }}"
      class="{% raw %}button{% endraw %}{% if button.modFirst %} {% raw %}button--{% endraw %}{{ button.modFirst }}{% endif %}{% if button.modSecond %} {% raw %}button--{% endraw %}{{ button.modSecond}}{% endif %}{% if button.modThird %} {% raw %}button--{% endraw %}{{ button.modThird}}{% endif %}"
      target="{% if button.target %}_blank{% else %}_self{% endif %}"
    >
      {% if button.icon and button.icon.position == 'left' %}
        <svg class="icon icon--left" aria-hidden="true" focusable="false">
          <use href="/img/sprite.svg#{{ button.icon.name }}"></use>
        </svg>
      {% endif %}

      <span class="button__text">{{ button.text }}</span>

      {% if button.icon and button.icon.position == 'right' %}
        <svg class="icon icon--right" aria-hidden="true" focusable="false">
          <use href="/img/sprite.svg#{{ button.icon.name }}"></use>
        </svg>
      {% endif %}
    </a>
{% else %}
    <button
      type="{{ button.typeAttr | default('button') }}"
      class="{{ classes }}"
    >
      {% if button.icon and button.icon.position == 'left' %}
        <svg class="icon icon--left" aria-hidden="true" focusable="false">
          <use href="/img/sprite.svg#{{ button.icon.name }}"></use>
        </svg>
      {% endif %}

      <span class="button__text">{{ button.text }}</span>

      {% if button.icon and button.icon.position == 'right' %}
        <svg class="icon icon--right" aria-hidden="true" focusable="false">
          <use href="/img/sprite.svg#{{ button.icon.name }}"></use>
        </svg>
      {% endif %}
    </button>
{% endif %}