<div class="catalog-heading">
  <ul class="action-tag catalog-heading__tags">
    {% for tag in catalog.tags.items %}
      <li class="action-tag__item">
        <button class="action-tag__link" type="button">
          {{ tag.text }}
          <span class="visually-hidden">Remove {{ tag.text }}</span>
          <img
            src="{{ tag.removeIcon.src }}"
            alt="{{ tag.removeIcon.alt }}"
            width="{{ tag.removeIcon.width }}"
            height="{{ tag.removeIcon.height }}"/>
        </button>
      </li>
    {% endfor %}

    {% if catalog.tags.showClear %}
      <li class="action-tag__item">
        {% set button = catalog.tags.clearButton %}
        {% include "partials/button.njk" %}
      </li>
    {% endif %}
  </ul>
</div>