<div class="contact-form__item contact-form__item--checkbox">
              <input
                class="visually-hidden checkbox-input"
                type="checkbox"
                name="{{ terms.id }}"
                value="agree"
                id="{{ terms.id }}"
                required />
              <label class="checkbox-label" for="{{ terms.id }}">
                {{ terms.label }}<a href="{{ terms.linkUrl}}">
                  {{ terms.linkText }}</a>
              </label>
            </div>