<figure class="figure">
            <img
              class="figure__img"
              src="{{ image.src }}"
              alt="{{ image.alt }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
            />
            <figcaption class="figure__caption">{{ image.caption }}</figcaption>
          </figure>