<button class="filter-drawer__toggle" type="button" aria-label="Open Filters">
  Filters
  <svg class="icon filter-drawer__icon">
    <use href="/img/sprite.svg#filter-lines"></use>
  </svg>
  <svg class="icon filter-drawer__icon--close">
    <use href="/img/sprite.svg#x-close"></use>
  </svg>
</button>

<aside class="aside filter-drawer" id="filter_drawer">
  {% include "partials/filter-form.njk" %}
</aside>