<button class="filter-drawer__toggle" type="button" aria-label="Open Filters">
  Filters
  <svg class="icon">
    <use xlink:href="/img/sprite.svg#filter-lines"></use>
  </svg>
</button>

<aside class="aside filter-drawer" id="filter_drawer">
  {% include "partials/filter-form.njk" %}
</aside>