<div class="footer__col">
          {%- for section in footerNav %}
          <div class="footer-nav">
            <strong class="footer-nav__title">{{ section.title }}</strong>
            <ul class="footer-nav__list">
              {%- for item in section.links %}
              <li class="footer-nav__item">
                <a class="footer-nav__link" href="{{ item.url }}">{{ item.text }}</a>
              </li>
              {%- endfor %}
            </ul>
          </div>
          {%- endfor %}
        </div>