    <footer class="footer section-wrapper">
      <div class="footer__wrapper">
        <div class="footer__col">
          <a class="logo" {% if footer.logo.url %}href="{{ footer.logo.url }}"{% endif %}>
            <svg class="logo__img" aria-hidden="true" focusable="false">
              <use href="/img/sprite.svg#{{ footer.logo.img }}"></use>
            </svg>
            <svg class="logo__text logo__text--footer" aria-hidden="true" focusable="false">
              <use href="/img/sprite.svg#{{ footer.logo.text }}"></use>
            </svg>
          </a>
          <p class="footer__text">{{ footer.description }}</p>
        </div>
        {% include "partials/footer-nav.njk" %}
      </div>
      <div class="footer__wrapper">
        <p class="copyright">{{ footer.copyright }}</p>
        {% set socials = footer.socials %}
        {% include "partials/social-list.njk" %}
      </div>
    </footer>