    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__col">
          <a class="logo" {% if footer.logo.url %}href="{{ footer.logo.url }}"{% endif %}>
            <img src="{{ footer.logo.img }}" alt="{{ footer.logo.alt }}" width="{{ footer.logo.width }}" height="{{ footer.logo.height }}" />
            <img src="{{ footer.logo.textImg}}" alt="{{ footer.logo.textAlt }}" width="{{ footer.logo.textWidth}}" height="{{ footer.logo.textHeight }}" />
          </a>
          <p class="footer__text">{{ footer.description }}</p>
        </div>
        {% include "partials/footer-nav.njk" %}
      </div>
      <div class="footer__wrapper">
        <p class="copyright">{{ footer.copyright }}</p>
        {% set socials = footer.socials %}
        {% include "partials/social-list.njk" %}
      </div>
    </footer>