    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__col">
          <a class="logo">
            <img src="#" alt="Binabox logo" width="36" height="40" />
            <img src="#" alt="Binabox" width="133" height="21" />
          </a>
          <p class="footer__text">
            We are the best way to check the rarity of NFT collection.
          </p>
        </div>
        {% include "partials/footer-nav.njk" %}
      </div>
      <div class="footer__wrapper">
        <p class="copyright">BINABOX 2022 - All rights reserved</p>
        {% set socials = footer.socials %}
        {% include "partials/social-list.njk" %}
      </div>
    </footer>