<header class="header">
    <div class="header__wrapper">
      <input type="checkbox" id="nav_toggle" class="header__toggle" hidden />
        <div class="header__burger-group">
          <label for="nav_toggle" class="header__menu" aria-label="Toggle menu" aria-expanded="false" aria-controls="nav">
            <span class="header__menu-icon"></span>
          </label>
          <a class="logo" {% if header.logo.url %}href="{{ header.logo.url }}"{% endif %}>
            <img src="{{ header.logo.img }}" alt="{{ header.logo.alt }}" width="{{ header.logo.width }}" height="{{ header.logo.height }}" />
            <img class="logo__text" src="{{ header.logo.textImg}}" alt="{{ header.logo.textAlt}}" width="{{ header.logo.textWidth }}" height="{{ header.logo.textHeight }}" />
          </a>
        </div>

        <!-- Toggle content: search + nav -->
        <div class="header__nav-wrapper">
          <form class="search search--mobile" action="/search" method="get">
            <button class="search__button" type="submit">
              <img class="search__icon" src="{{ header.search.icon }}" alt="{{ header.search.alt }}" width="{{ header.search.width }}" height="{{ header.search.height }}" />
            </button>
            <input class="search__input" type="search" name="q" placeholder="{{ header.search.placeholder }}" minlength="3" required />
          </form>

          {% include "partials/nav.njk" %}
        </div>

        <div class="header__actions">
          <form class="search search--desktop header__actions-search" action="/search" method="get">
            <button class="search__button" type="submit">
              <img 
                class="search__icon"
                src="{{ header.search.icon }}"
                alt="{{ header.search.alt }}"
                width="{{ header.search.width }}"
                height="{{ header.search.height }}" />
            </button>
            <input class="search__input" type="search" name="q" placeholder="{{ header.search.placeholder }}" minlength="3" required />
          </form>
          {% for button in header.buttons %}
            {% include "partials/button.njk" %}
          {% endfor %}
        </div>
      </div>
    </header>