<header class="header">
      <div class="header__wrapper">
        <a class="logo">
          <img src="#" alt="Binabox logo" width="35" height="40" />
          <img src="#" alt="Binabox" width="133" height="21" />
        </a>
        {% include "partials/nav.njk" %} {# nclude navigation #}
        <div class="header__actions">
          <form class="search">
            <button class="search__button" type="submit">&#128269;</button>
            <input class="search__input" type="search" placeholder="Search" />
          </form>
          <a
            class="button button--secondary button--icon-left"
            href="#"
            target="_blank"
          >
            <img src="#" alt="Discord logo" width="24" height="24" />
            Discord
          </a>
          <a
            class="button button--primary button--icon-left"
            href="#"
            target="_blank"
          >
            <img src="#" alt="Connect icon" width="24" height="24" />
            Connect
          </a>
        </div>
      </div>
    </header>