<header class="header">
      <div class="header__wrapper">
      {% if header.logo.url %}
        <a class="logo" href="{{ header.logo.url }}">
      {% else %}
        <a class="logo">
      {% endif %}
          <img src="{{ header.logo.img }}" alt="{{ header.logo.alt }}" width="{{ header.logo.width }}" height="{{ header.logo.height }}" />
          <img src="{{ header.logo.textImg}}" alt="{{ header.logo.textAlt}}" width="{{ header.logo.textWidth }}" height="{{ header.logo.textHeight }}" />
        </a>
        {% include "partials/nav.njk" %}
        <div class="header__actions">
          <form class="search">
            <button class="search__button" type="submit">&#128269;</button>
            <input class="search__input" type="search" placeholder="{{ header.search.placeholder }}" />
          </form>
          {% for button in header.buttons %}
            {% include "partials/button.njk" %}
          {% endfor %}
        </div>
      </div>
    </header>