<section class="hero">
        <div class="hero__wrapper">
          <h1 class="hero__title">{{ hero.title }}</h1>
          <nav class="breadcrumb">
            <ul class="breadcrumb__list">
            {%- for item in hero.breadcrumbs %}
              <li class="breadcrumb__item">
              {%- if item.url %}
                <a class="breadcrumb__link" href="{{ item.url }}">{{ item.name }}</a>
              {%- else %}
                {{ item.name }}
              {%- endif %}
              </li>
            {%- endfor %}
            </ul>
          </nav>
        </div>
      </section>