<div class="info">
                <span class="info__profile">
                  <svg class="icon icon--small info__profile-icon" aria-hidden="true" focusable="false">
                    <use href="/img/sprite.svg#{{ info.icons.author }}"></use>
                  </svg>
                  {{ info.author }}
                </span>
                <time class="info__date" datetime="2022-06-20">
                  <svg class="icon icon--small info__calendar-icon" aria-hidden="true" focusable="false">
                    <use href="/img/sprite.svg#{{ info.icons.date }}"></use>
                  </svg>
                  {{ info.date }}
                </time>
              </div>