<div class="info">
                <span class="info__profile">
                  <img
                    class="info__profile-icon"
                    src="#"
                    alt="user-icon"
                    width="16"
                    height="16"
                  />
                  {{ author }}
                </span>
                <time class="info__date" datetime="2022-06-20">
                  <img
                    class="info__calendar-icon"
                    src="#"
                    alt="calendar"
                    width="16"
                    height="16"
                  />
                  {{ date }}
                </time>
              </div>