<div class="contact-form__item">
              <label class="contact-form__label" for="{{ input.id }}">{{ input.label }}</label>
              <input
                class="contact-form__input"
                id="{{ input.id }}"
                type="{{ input.type }}"
                name="{{ input.id }}"
                {% if input.required %}required{% endif %}
                {% if input.minlength %}minlength="{{ input.minlength }}"{% endif %}
                {% if input.min %}min="{{ input.min }}"{% endif %}
                {% if input.max %}max="{{ input.max }}"{% endif %}
                {% if input.pattern %}pattern="{{ input.pattern | safe }}"{% endif %} />
              <span class="contact-form__error" id="{{ input.id }}-error">{{ input.error }}</span>
            </div>