<div class="contact-form__item contact-form__item-radio">
              <span class="contact-form__label">{{ input.label }}</span>
              {% for option in input.options %}
              <input
                class="visually-hidden radio-input"
                type="radio"
                id="{{ option.id }}"
                name="{{ input.name }}"
                value="{{ option.value }}"
                {% if input.required and loop.first %}required{% endif %} />
              <label class="contact-form__label radio-label" for="{{ option.id }}">
                {{option.label }}
              </label>
              {% endfor %}
            </div>
