<ul class="social">
      {%- for item in socials %}
          <li class="social__item">
            <a class="social__link" href="{{ item.url }}">
              <img src="{{ item.icon }}" alt="{{ item.name }}" width="24" height="24" />
            </a>
          </li>
      {%- endfor %}
        </ul>