<div class="member">
              <img
                class="member__photo"
                src="{{ member.photo.src }}"
                alt="{{ member.photo.alt }}"
                width="{{ member.photo.width }}"
                height="{{ member.photo.height }}"
              />
              <h3 class="member__name">{{ member.name }}</h3>
              <p class="member__position">{{ member.position }}</p>
              {% set socials = member.socials %}
              {% include "partials/social-list.njk" %}
            </div>