{% extends "layouts/base.njk" %}

{% block content %}
<main class="main-container">
      {% include "partials/hero.njk" %}
      <div class="catalog-layout">
        {% include "partials/aside-form.njk" %}
      </div>
    </main>
{% endblock %}