@use "../base/base" as *;

.about-us {
    padding-block: 32px;

    @include tab {
        padding-top: 0;
        padding-bottom: 64px;
    }

    @include laptop{
        padding-block: 64px;
    }

    &__desc {
        @include text-lg;
        color: var(--color-muted);
        text-align: center;
        margin: 0 0 40px;
    }
    
    &__list {
        list-style: none;
        counter-reset: card;
        padding: 0;
        margin: 0 0 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include tab {
          gap: 32px;
        }

        @include laptop {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }

        @include desk {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
        }
    }
}