@use "../base/base" as *;

.about-us {
    &__link {
        @include card-background(var(--background-color-secondary));
        padding: 32px;
        display: inline-block;
        border-image-slice: 50;
        border-image-width: 50px;
        object-fit: cover;
        outline: none;
        outline-color: transparent;
        transition: outline 0.3s ease-in-out;
    
        &:hover {
            border-image-source: url("../img/hover-1x.webp");
        }

        &:active,
        &:focus {
            border-image: none;
            outline: 4px solid $color-focus;
        }
    }
}