@use "../base/base" as *;

.about-us {
    &__item {
        counter-increment: card;
    }
    &__link {
        @include card-background(var(--background-color-secondary));
        padding: 32px;
        display: inline-block;
        border-image-slice: 50;
        border-image-width: 50px;
        object-fit: cover;
        outline: none;
        outline-color: transparent;
        transition: outline 0.3s ease-in-out;
        position: relative;
    
        &:hover {
            border-image-source: url("../img/hover-1x.webp");
        }

        &:active,
        &:focus {
            border-image: none;
            outline: 4px solid $color-focus;
        }

        &::before {
            content: counter(card, decimal-leading-zero);
            position: absolute;
            top: 32px;
            left: 32px;
            font-size: 72px;
            line-height: 46px;
            font-weight: 700;
            color: transparent;
            -webkit-text-stroke: 2px $color-accent;
            opacity: 0.5;
            z-index: 0;
        }

        * {
            position: relative;
            z-index: 1;
        }
    }
}