@use "../base/base" as *;

.about-us {
    &__wrapper {
    @extend %section-wrapper;
    }

    &__desc {
        @include text-lg;
        color: var(--color-muted);
        text-align: center;
        margin: 0 0 40px;
    }
    
    &__list {
        display: flex;
        margin: 0 0 40px;
        gap: 32px;
        padding: 0;
    }
    
    &__heading {
        @include text-xl;
        color: var(--color-secondary);
        margin-bottom: 24px;
    }
    
    &__info {
        color: var(--color-muted);
        margin: 0;
    }
}

.section-title--alt {
    margin-bottom: 16px;
}

.button-wrapper {
    @extend %button-wrapper;
}