@use "../base/base" as *;

.blog {
    padding-block: 64px;

    &__list {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        margin-bottom: 40px;
    }
}