@use "../base/base" as *;

.catalog {
    padding-block: 64px;

    &__header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        margin-bottom: 40px;

        &::before {
            content: "";
            min-width: 181px;
            height: 2px;
            background-color: var(--color-separator);
            margin-block: 23px;
            flex-grow: 1;
        }

        &-title {
            order: -1;
        }
    }
    
    &__title {
        @include text-xl;
        margin: 0;
    }
    
    &__controls {
        display: flex;
        align-items: center;
        gap: 16px;
    
        &::before {
          content: "";
          width: 2px;
          height: 24px;
          background-color: var(--color-separator);
        }

        .button:first-child {
          order: -1;
        }
    }

    &__list {
        display: flex;
        gap: 24px;
    }
}