@use "../base/base" as *;

.faq {
  padding-block: 64px;
  
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__answer {
    @include text-md;
    color: var(--color-secondary);
    margin: 0;
  }
}
