@use "../base/base" as *;

.faq {
  padding-top: 32px;
  padding-bottom: 24px;

    @include tab {
      padding-top: 0;
    }

    @include laptop {
      padding-block: 64px;
    }
  
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;

      @include tab {
        margin-bottom: 24px;
      }
    }
  }

  &__answer {
    @include text-md;
    color: var(--color-secondary);
    margin: 0;
  }
}
