@use "../base/base" as *;

.info {
    @include text-sm($fw: var(--font-weight-bold));
    color: var(--color-muted);
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &__profile {
        display: flex;
        align-items: center;
    }

    &::before {
        content: "";
        width: 2px;
        height: 16px;
        background-color: #{$color-separator};
        margin-inline: 8px;
    }
}

.info-profile {
    order: -1;
}