@use "../base/base" as *;

.product {
    @include card-background;
    padding: 24px;
    display: inline-block;
    border-image-slice: 50;
    border-image-width: 50px;
    object-fit: cover;
    outline: none;
    outline-color: transparent;
    transition: outline 0.3s ease-in-out;

    &:hover {
        border-image-source: url("../img/hover-1x.webp");
    }

    &:active,
    &:focus {
        border-image: none;
        outline: 4px solid $color-focus;
    }

    &__img {
        margin-bottom: 24px;
        object-fit: cover;
    }

    &__price {
        @include heading-title;
        color: var(--color-secondary);
        margin: 0 0 8px;
    }

    &__name {
        @include text-lg;
        color: var(--color-muted);
        margin-block: 0;
    }
}