@use "../base/base" as *;

.promo {
    background: radial-gradient(
    42.5% 42.5% at 22.28% -4.22%,
    rgb(2 101 220 / 0.5) 0%,
    rgb(2 101 220 / 0) 100%
    );

    &__wrapper {
        max-width: 1728px;
        margin: 0 auto;
        padding-inline: 16px;

        @include tab {
            padding-inline: 24px;
        }

        @include laptop {
            display: flex;
            align-items: center;
            padding-inline: 118px;
        }

        @include desk {
          padding-inline: 164px;
        }
    }

    &__content-wrapper {
        padding-block: 32px;
        flex: 1 1 auto;

        @include tab{
            padding-block: 64px;
        }
    }

    &__title {
        margin-bottom: 8px;
    }

    &__highlight {
        color: var(--color-accent);
    }

    &__desc {
        @include text-lg;
        color: var(--color-secondary);
        margin-bottom: 32px;
        margin-top: 0;
    }

    &__stats {
        display: flex;
        margin-bottom: 32px;
        gap: 64px;
    }

    &__stat-value {
        @include heading-subtitle;
        color: var(--color-secondary);
        margin: 0 0 4px 0;
        text-shadow: 0 4px 13px rgb(255 255 255 / 0.4);

        @include tab {
            @include heading-title;
        }

        @include laptop {
            @include heading-main;
        }
    }

    &__stat-term {
        @include text-md;
        color: var(--color-muted);
        margin: 0;
    }

    &__img-wrapper {
        @include laptop {
            flex: 0 0 437px;
        }

        @include desk {
            flex: 0 0 533px;
        }
    }

    &__img {
        display: none;

        @include laptop {
            display: block;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}