@use "../base/base" as *;

.team-card {
    @include card-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 293px;
    padding: 16px;

    @include tab {
      padding: 32px;
    }

    &__photo {
        border-radius: 50%;
        margin-bottom: 16px;
    }

    &__name {
        @include text-xl;
        color: var(--color-secondary);
        margin: 0;
    }

    &__position {
        color: var(--color-muted);
        margin: 0 0 16px;
    }
}