@use "../base/base" as *;

.team {
    padding-block: 32px;

    @include tab {
        padding-top: 0;
        padding-bottom: 64px;
    }

    @include laptop{
        padding-block: 64px;
    }
    
    &__list {
        display: flex;
        gap: 16px;
        overflow-x: auto;

        @include laptop {
          overflow-x: visible;
          gap: 40px;
          flex-wrap: wrap;
          justify-content: center;
        }
    }
}