@use "../base/global";
@use "../components/button";
@use "../components/label";
@use "../layout/header";
@use "../components/nav";
@use "../components/search";
@use "../components/home/promo";
@use "../layout/layout";
@use "../components/home/catalog";
@use "../components/home/product-card";
@use "../components/home/blog";
@use "../components/home/post-card";
@use "../components/home/info";
@use "../components/home/about";
@use "../components/home/about-card";
@use "../components/home/team";
@use "../components/home/team-card";
@use "../components/social";
@use "../components/home/faq";
@use "../layout/footer";

  //if i use these grouped, can i make a mixin for them?
  .article__highlight:hover,
  .breadcrumb__link:hover,
  .aside__link:hover {
  color: #3892F3;
  }

  .article__highlight:active,
  .breadcrumb__link:active,
  .aside__link:active {
  color: #0054B6;
  }

  .article__highlight:focus,
  .breadcrumb__link:focus,
  .aside__link:focus {
  outline: 4px solid #3892F3;
  border-radius: 5px;
  }
  
  /* Blog page styling */
  .hero {
  padding-top: 64px;
  min-height: 376px;
  background-image: url(../img/hero-background-1x.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0D0D15;
  }
  
  .hero__wrapper {
  padding: 0 16px;
  max-width: 1728px;
  margin: 0 auto;
  }
  
  .hero__title {
  margin-bottom: 20px;
  text-align: center;
  }
  
  .breadcrumb__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  }
  
  .breadcrumb__item {
  color: #E7EEF7A8;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  }
  
  .breadcrumb__item:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 24px;
  background-color: #D0D7FB2B;
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  }
  
  .breadcrumb__link {
  color: #F5F8FB;
  text-decoration: none;
  }
  
  .page-layout {
  padding: 0 16px 24px;
  display: flex;
  max-width: 1416px;
  margin: 0 auto;
  }
  
  .aside {
  width: 328px;
  flex-shrink: 0;
  }
  
  .aside__box {
  background-color: #1D1C28;
  padding: 24px;
  margin-bottom: 21px;
  }
  
  .aside__title {
  color: #F5F8FB;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: "Bakbak One", "Georgia", "Times New Roman", "Times", serif;
  padding-bottom: 16px;
  border-bottom: 1px solid #BFC5EE1F;
  display: block;
  margin-bottom: 16px;
  }
  
  .aside__list {
  list-style: none;
  padding: 6px 0 0;
  margin: 0;
  }
  
  .aside__item {
  padding-left: 12px;
  }
  
  .aside__item:not(:last-child) {
  margin-bottom: 20px;
  }
  
  .aside__link {
  color: #F5F8FB;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  }
  
  .action-tag {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  }
  
  .action-tag__link {
  color: #F5F8FB;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #D0D7FB2B;
  padding: 6px 12px;
  display: inline-block;
  }
  
  .action-tag__item {
  margin-bottom: 8px;
  }
  
  .action-tag__item:not(:last-child) {
  margin-right: 8px;
  }
  
  .action-tag__link:hover,
  .action-tag__link:active {
  background-color: #BFC5EE1F;
  border-color: #BFC5EE1F;
  }
  
  .action-tag__link:focus {
  background-color: #BFC5EE1F;
  border-color: #3892F3;
  outline: 2px solid #3892F3;
  outline-offset: 0;
  }
  
  .article {
  margin-left: 32px;
  }
  
  .figure {
  margin: 0 0 32px;
  }
  
  .figure__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  }
  
  .section-title--left {
  text-align: left;
  margin-top: 0;
  margin-bottom: 16px;
  }
  
  .section-title--left + .button {
  margin-bottom: 32px;
  }
  
  .article__text {
    margin-top: 0;
    margin-bottom: 16px;
    }

  .info + .article__text {
  margin: 0;
  }
  
  .article .info {
  margin-bottom: 32px;
  }
  
  .article__spotlight {
  background-color: #0265DC;
  }
  
  .article__highlight {
  color: #78BBFA;
  text-decoration: none;
  font-weight: 600;
  }
  
  .article__list {
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 32px;
  }
  
  .article__custom-list {
  margin-top: 0;
  margin-bottom: 32px;
  }
  
  .article__custom-item:not(:last-of-type) {
  margin-bottom: 8px;
  }
  
  .quote-wrapper {
  background-color: #002754;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 32px;
  }
  
  blockquote {
  margin: 0;
  }
  
  .quote__text {
  font-size: 28px;
  line-height: 36px;
  font-family: "Bakbak One", "Georgia", "Times New Roman", "Times", serif;
  margin-top: 0;
  margin-bottom: 8px;
  }
  
  .quote__footer {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  }
  
  .quote__rating {
  color: #EFF5FAD1;
  margin-inline: 8px;
  }
  
  .quote__author {
  font-style: normal;
  }
  
  .figure-wrapper {
  display: flex;
  }
  
  .figure-wrapper .figure {
  width: calc(50% - 24px);
  }
  
  .figure:last-child {
  margin-left: 24px;
  }
  
  .article__subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  font-family: "Bakbak One", "Georgia", "Times New Roman", "Times", serif;
  margin-top: 0;
  margin-bottom: 16px;
  }
  
  .article__text + .article__text {
  margin-bottom: 32px;
  }
  
  .article__text:last-of-type {
  margin-bottom: 32px;
  }
  
  .article__footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: -8px;
  }
  
  .article__footer .action-tag:not(:last-child) {
  margin-right: 16px;
  }
  
  .article__footer .action-tag__item:not(:last-child) {
  margin-right: 12px;
  }