@use "../base/base";

.blog {
    &__wrapper {
    @extend %section-wrapper;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-bottom: 40px;
    }
}

.section-title {
    @include base.heading-title;
    letter-spacing: -0.5px;
    text-align: center;
    margin: 0 0 40px;
}

.button-wrapper {
    @extend %button-wrapper;
}