@use "../base/base" as *;

.product {
    @extend %card-link-base;
    @extend %focus-active-border;

    &:hover {
        border-image: linear-gradient(137.5deg,
        var(--color-accent) 0%,
        var(--background-color-cards) 20%,
        var(--background-color-cards) 80%,
        var(--color-accent) 100%
        ) 1;
    }

    & + & {
        margin-left: 24px;
    }

    &:first-child {
        margin-left: 0;
    }

    &__card {
        @include card-background;
        padding: 24px;
    }

    &__img {
        margin-bottom: 24px;
        object-fit: cover;
    }

    &__price {
        @include heading-title;
        color: var(--color-secondary);
        letter-spacing: -0.5px;
        margin: 0 0 8px;
    }

    &__name {
        @include text-lg;
        color: var(--color-muted);
        font-weight: var(--font-weight-medium);
        margin-block: 0;
    }
}