{% extends "layouts/base.njk" %}

{% block content %}
<main class="main-container">
      {% include "partials/hero.njk" %}
      <div class="blog-layout">
        {% include "partials/aside.njk" %}
        {% include "partials/article.njk" %}
      </div>
    </main>
{% endblock %}
