@use "../base/variables" as *;

//Breakpoint Mixins
@mixin desk {
  @media screen and (min-width: #{$screen-desk}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: #{$screen-laptop}) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: #{$screen-tab}) {
    @content;
  }
}

//Background & Layout
@mixin card-background($bg: var(--background-color-cards)) {
    background-color: $bg;
}

@mixin visually-hidden {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

@mixin visually-shown {
  opacity: 1;
  width: auto;
  height: auto;
  pointer-events: auto;
}

//Typography Mixins
@mixin heading-main {
    font-size: var(--font-size-title-main);
    line-height: var(--line-height-title-main);
    font-weight: var(--font-weight-base);
    font-family: var(--font-secondary);
    letter-spacing: -0.5px;
}

@mixin heading-title {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-base);
    font-family: var(--font-secondary);
    letter-spacing: -0.5px;
}

@mixin heading-subtitle {
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
    font-weight: var(--font-weight-base);
    font-family: var(--font-secondary);
}

@mixin text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-base);
    font-family: var(--font-secondary);
}

@mixin text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    font-weight: var(--font-weight-medium);
}

@mixin text-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

@mixin text-md($fw: var(--font-weight-base)) {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: $fw; //links need 600, caption 500
}

@mixin text-sm($fw: var(--font-weight-base)) {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: $fw; //labels and breadcrumbs need 600
}

@mixin text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-bold);
}