@mixin border-style($color) {
    border-color: $color;
}

@mixin card-background($bg: var(--background-color-cards)) {
    background-color: $bg;
}

@mixin text-style(
    $fz: var(--font-size-base),
    $lh: var(--line-height-base),
    $fw: var(--font-weight-base),
    $ff: var(--font-primary)
    ) {
    font-size: #{$fz};
    line-height: #{$lh};
    font-weight: #{$fw};
    font-family: #{$ff};
}

@mixin button-text-small {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-primary);
}

@mixin heading-main {
    font-size: var(--font-size-title-main);
    line-height: var(--line-height-title-main);
    font-weight: var(--font-weight-base);
    font-family: var(--font-secondary);
}

@mixin heading-title {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-base);
    font-family: var(--font-secondary);
}

@mixin heading-subtitle {
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
    font-weight: var(--font-weight-base);
    font-family: var(--font-secondary);
}

@mixin text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-base);
    font-family: var(--font-secondary);
}

@mixin text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-primary);
}

@mixin text-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-base);
    font-family: var(--font-primary);
}

@mixin text-md {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-base);
    font-family: var(--font-primary);
}

@mixin text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-base); //labels need 600
    font-family: var(--font-primary);
}

@mixin text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-primary);
}